<div class="container">
    <header class="row">
        <div>
            <a href="{f:uri.page(pageUid:1)}">
              <div class="col-md-6">
                <h1>
                  Bibliothekarische
                </h1>
                <h1>
                  Fortbildung
                </h1>
              </div>
            </a>
        </div>
    </header>
    <main class="row">
      <f:if condition="{breadcrumb}">
        <div class="col-sm-12">
          <div class="breadcrumb">
            <f:format.raw>{breadcrumb}</f:format.raw>
          </div>
        </div>
      </f:if>
        <div class="col-sm-3 main-left">
          <f:format.raw>{left}</f:format.raw>
        </div>
        <div class="col-md-6 col-sm-6 main-center">
          <f:format.raw>{center}</f:format.raw>
        </div>
        <div class="col-md-3 col-sm-3 main-right">
          <f:format.raw>{right}</f:format.raw>
        </div>
    </main>
    <footer class="row">
        <div class="footer-left col-md-3 col-sm-6">
            <h4>
                Informationen
            </h4>
            <div>
                <f:format.html>{navMain}</f:format.html>
            </div>
        </div>
        <div class="footer-center col-md-6 col-sm-6">
			<h4>Veranstalter Bibliothekarischer Fortbildung in Niedersachsen</h4>
			<f:format.raw>{providers}</f:format.raw>
        </div>
    </footer>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script><script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js" type="text/javascript"></script><!--[if lt IE 9]><script src="{f:uri.resource(path:'Javascripts/vendor/respond.min.js', extensionName:'gwlbbase')}" type="text/javascript"></script><![endif]--><script src="{f:uri.resource(path:'Javascripts/all.js', extensionName:'gwlbbase')}" type="text/javascript"></script>
